{{define "title"}}Add new job{{end}}

{{define "main"}}
<form action='/poslovi/dodaj_posao' method='POST'>
    <div>
        <label>Description:</label>
        {{with .Form.FieldErrors.description}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='description' value='{{.Form.Job.Description}}' required>
    </div>

    <div>
        <label for="driver_id">Driver:</label>
        <select name="driver_id" id="driver_id" required>
            {{range $id, $name := .Form.DriverIdMap}}
                <option value="{{$id}}">{{$name}}</option>
            {{end}}
        </select>
    </div>
    
    <div>
        <label for="truck_id">Truck:</label>
        <select name="truck_id" id="truck_id" required>
            {{range $id, $licensePlate := .Form.TruckIdMap}}
                <option value="{{$id}}">{{$licensePlate}}</option>
            {{end}}
        </select>
    </div>

    <div>
        <label>Scheduled departure date:</label>
        <input type='datetime-local' name='scheduled_date' required>
    </div>

    <div>
        <label>Scheduled arrival date:</label>
        <input type='datetime-local' name='scheduled_arrival_time' required>
    </div>

    <div>
        <label>Distance(km):</label>
        <input type='number' name='distance' step='1' required>
    </div>

    <div>
        <label>Package size(m):</label>
        <input type='number' name='package_size' step='1' required>
    </div>

    <div>
        <label>Package weight(kg):</label>
        <input type='number' name='package_weight' step='1' required>
    </div>

    <div>
        <label>Client:</label>
        <input type='text' name='client_name' required>
    </div>

    <div>
        <label>Departure location:</label>
        <input type='text' name='start_location' required>
    </div>

    <div>
        <label>Destiantion:</label>
        <input type='text' name='destination_location' required>
    </div>

    <div>
        <input type='submit' value='Add job' required>
    </div>
</form>
{{end}}
