{{define "title"}}Add new truck{{end}}

{{define "main"}}
<form action='/kamioni/dodaj_kamion' method='POST'>
    <div>
        <label>Model name:</label>
        <input type='text' name='model' required>
    </div>

    <div>
        <label>License plate:</label>
        <input type='text' name='license_plate' required>
    </div>

    <div>
        <label>Distance traveled(km):</label>
        <input type='number' name='km_traveled' step='0.01' required>
    </div>

    <div>
        <label>Average consumption(L/100km):</label>
        <input type='number' name='average_consumption' step='0.01' required>
    </div>

    <div>
        <input type='submit' value='Add truck'>
    </div>
</form>
{{end}}
