{{define "title"}}Add new driver{{end}}

{{define "main"}}
<form action='/vozaci/dodaj_vozaca' method='POST'>
    <div>
        <label>Name:</label>
        <input type='text' name='name' required>
    </div>

    <div>
        <label>License number:</label>
        <input type='text' name='license_number' required>
    </div>

    <div>
        <label>Phone number:</label>
        <input type='tel' name='phone_number' required>
    </div>

    <div>
        <label>Status:</label>
        <input type='text' name='status' required>
    </div>

    <div>
        <input type='submit' value='Add driver'>
    </div>
</form>
{{end}}
