{{define "title"}}Change driver information{{end}}

{{define "main"}}
<form action='/vozaci/edit/{{.Driver.ID}}' method='POST'>
    <div>
        <label>Driver:</label>
        <input type='text' name='name' required value="{{.Driver.Name}}">
    </div>

    <div>
        <label>License number:</label>
        <input type='text' name='license_number' required value="{{.Driver.License_number}}">
    </div>

    <div>
        <label>Phone number:</label>
        <input type='tel' name='phone_number' required value="{{.Driver.Phone_number}}">
    </div>

    <div>
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="occupied" {{if eq .Driver.Status "occupied"}}selected{{end}}>Occupied</option>
            <option value="pending" {{if eq .Driver.Status "pending"}}selected{{end}}>Pending</option>
            <option value="available" {{if eq .Driver.Status "available"}}selected{{end}}>Available</option>
            <option value="issue" {{if eq .Driver.Status "issue"}}selected{{end}}>Issue</option>
            <option value="аrchived" {{if eq .Driver.Status "аrchived"}}selected{{end}}>Archived</option>
        </select>
    </div>

    <div>
        <input type='submit' value='Apply'>
    </div>
</form>
{{end}}
