{{define "title"}}Dodaj novi kamion{{end}}

{{define "main"}}
<form action='/kamioni/edit/{{.Truck.ID}}' method='POST'>
    <div>
        <label>Model kamiona:</label>
        <input type='text' name='model' required value="{{.Truck.Model}}">
    </div>

    <div>
        <label>Registracija:</label>
        <input type='text' name='license_plate' required value="{{.Truck.License_plate}}">
    </div>

    <div>
        <label>Status:</label>
        <input type='text' name='status' required value="{{.Truck.Status}}">
    </div>

    <div>
        <label>Pređeni kilometri:</label>
        <input type='number' name='km_traveled' step='0.01' required value="{{.Truck.Km_traveled}}">
    </div>

    <div>
        <label>Prosečna potrošnja (L/100km):</label>
        <input type='number' name='average_consumption' step='0.01' required value="{{.Truck.Average_consumption}}">
    </div>

    <div>
        <input type='submit' value='Primeni promenu'>
    </div>
</form>
{{end}}
