{{define "title"}}ChangeJobInformation{{end}}

{{define "main"}}
{{range .JobDisplays}}
<form action='/poslovi/edit/{{.Job.ID}}' method='POST'>

    <div>
        <label>Job description:</label>
        <input type='text' name='description' required value="{{.Job.Description}}">
    </div>
    
    <div>
        <label for="driver_id">Driver:</label>
        <select name="driver_id" id="driver_id" required>
            {{range $id, $name := .DriverIdMap}}
                <option value="{{$id}}">{{$name}}</option>
            {{end}}
            <option value="{{.Job.Driver_id}}" selected>{{.DriverName}}</option>
        </select>
    </div>
    
    <div>
        <label for="truck_id">Truck:</label>
        <select name="truck_id" id="truck_id" required>
            {{range $id, $licensePlate := .TruckIdMap}}
                <option value="{{$id}}">{{$licensePlate}}</option>
            {{end}}
            <option value="{{.Job.Truck_id}}" selected>{{.TruckLicensePlate}}</option>
        </select>
    </div>

    <div>
        <label>Departure date:</label>
        <input type='datetime-local' name='start_date' required value="{{.FormattedDate}}">
    </div>

    <div>
        <label>Arrival date:</label>
        <input type='datetime-local' name='end_date' value="{{.FormattedArrival}}">
    </div>

    <div>
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="pending" {{if eq .Job.Status "pending"}}selected{{end}}>Pending</option>
            <option value="active" {{if eq .Job.Status "active"}}selected{{end}}>Active</option>
            <option value="issue" {{if eq .Job.Status "issue"}}selected{{end}}>Issue</option>
            <option value="canceled" {{if eq .Job.Status "canceled"}}selected{{end}}>Canceled</option>
        </select>
    </div>

    <div>
        <label>Truck starting km:</label>
        <input type='number' name='starting_km' step='1' required value="{{.Job.TruckStartKm}}">
    </div>

    <div>
        <input type='submit' value="Apply">
    </div>
</form>
{{end}}
{{end}}