{{define "title"}}Add new truck{{end}}

{{define "main"}}
<form action='/kamioni/edit/{{.Truck.ID}}' method='POST'>
    <div>
        <label>Model:</label>
        <input type='text' name='model' required value="{{.Truck.Model}}">
    </div>

    <div>
        <label>License plate:</label>
        <input type='text' name='license_plate' required value="{{.Truck.License_plate}}">
    </div>

    <div>
        <label>License plate:</label>
        <input type='text' name='license_plate' required value="{{.Truck.Status}}">
    </div>

    <div>
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="occupied" {{if eq .Truck.Status "occupied"}}selected{{end}}>Occupied</option>
            <option value="pending" {{if eq .Truck.Status "pending"}}selected{{end}}>Pending</option>
            <option value="available" {{if eq .Truck.Status "available"}}selected{{end}}>Available</option>
            <option value="issue" {{if eq .Truck.Status "issue"}}selected{{end}}>Issue</option>
            <option value="аrchived" {{if eq .Truck.Status "аrchived"}}selected{{end}}>Archived</option>
        </select>
    </div>

    <div>
        <input type='submit' value='Apply'>
    </div>
</form>
{{end}}
