{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Job history</h2>
    {{if .Jobs}}
    <table>
        <tr>
            <th>Job</th>
            <th>Driver</th>
            <th>Truck</th>
            <th>Description</th>
            <th>Departure</th>
        </tr>
        {{range .Jobs}}
        <tr>
            <td><a href='/poslovi/info/{{.ID}}'>{{.ID}}</a></td>
            <td><a href='/vozaci/info/{{.Driver_id}}'>{{.Driver_id}}</a></td>
            <td><a href='/kamioni/info/{{.Truck_id}}'>{{.Truck_id}}</a></td>
            <td>{{.Description}}</td>
            <td>{{.Scheduled_date}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}