{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Trucks</h2>
    {{if .Trucks}}
    <table>
        <tr>
            <th>License plate</th>
            <th>Model</th>
            <th>Status</th>
        </tr>
        {{range .Trucks}}
        <tr>
            <td><a href='/kamioni/info/{{.ID}}'>{{.License_plate}}</a></td>
            <td>{{.Model}}</a></td>
            <td>{{.Status}}</a></td>
            <td><a href='/kamioni/edit/{{.ID}}'>Edit</a></td>
        </tr>
        {{end}}
    </table>
    {{end}}
    <div>
        <a href="/kamioni/dodaj_kamion" class="btn btn-primary">Add truck</a>
    </div>
{{end}}