{{define "title"}}Info{{end}} 

{{define "main"}} 

<div class="data-container">
    {{if .Jobs}}
        <h2>Job details</h2>
        <div class="job-container">
            <!-- Loop through multiple jobs -->
            {{range .Jobs}}
                <div class="job">
                    <div class="metadata">
                        <strong>Job ID:</strong>
                        <p>#{{.ID}}</p>
                        
                        <strong>Description:</strong>
                        <p>{{.Description}}</p>

                        <strong>Driver:</strong>
                        <p>{{.Driver_id}}</p>

                        <strong>Truck:</strong>
                        <p>{{.Truck_id}}</p>

                        <strong>Scheduled departure date:</strong>
                        <p>{{.Scheduled_date}}</p>

                        <strong>Scheduled arrival date:</strong>
                        <p>{{.Scheduled_arrival_time}}</p>

                        <strong>Status:</strong>
                        <p>{{.Status}}</p>

                        <strong>Distance(km):</strong>
                        <p>{{.Distance}}</p>

                        <strong>Package size(m):</strong>
                        <p>{{.Package_size}}</p>

                        <strong>Package weight(kg):</strong>
                        <p>{{.Package_weight}}</p>

                        <strong>Client:</strong>
                        <p>{{.Client_name}}</p>

                        <strong>Departure location:</strong>
                        <p>{{.Start_location}}</p>

                        <strong>Destination:</strong>
                        <p>{{.Destination_location}}</p>

                        <p><a href='/poslovi/edit/{{.ID}}'>Change</a></p>
                    </div>
                </div>
            {{end}}
        </div>
    {{else if .Drivers}}
        <h2>Driver details</h2>
        <div class="driver-container">
            <!-- Loop through multiple drivers -->
            {{range .Drivers}}
                <div class="driver">
                    <div class="metadata">
                        <strong>Name:</strong>
                        <p>{{.Name}}</p>

                        <strong>Driver ID:</strong>
                        <p>#{{.ID}}</p>

                        <strong>License number:</strong>
                        <p>{{.License_number}}</p>

                        <strong>Phone number:</strong>
                        <p>{{.Phone_number}}</p>

                        <strong>Status:</strong>
                        <p>{{.Status}}</p>

                        <strong>Average consumption(L/100km):</strong>
                        <p>{{.Average_consumption}}</p>

                        <strong>Traveled distance(km):</strong>
                        <p>{{.Km_traveled}}</p>
                    </div>
                </div>
            {{end}}
        </div>
    {{else if .Trucks}}
        <h2>Truck details</h2>
        <div class="truck-container">
            <!-- Loop through multiple trucks -->
            {{range .Trucks}}
                <div class="truck">
                    <div class="metadata">
                        <strong>Truck ID:</strong>
                        <p>{{.ID}}</p>

                        <strong>Model:</strong>
                        <p>{{.Model}}</p>

                        <strong>License plate:</strong>
                        <p>{{.License_plate}}</p>

                        <strong>Status:</strong>
                        <p>{{.Status}}</p>

                        <strong>Traveled distance(km):</strong>
                        <p>{{.Km_traveled}}</p>

                        <strong>Average consumption(L/100km):</strong>
                        <p>{{.Average_consumption}}</p>
                    </div>
                </div>
            {{end}}
        </div>
    {{else}}
        <p>No data available.</p>
    {{end}}
</div>

{{end}}
