{{define "title"}}Info{{end}} 

{{define "main"}} 

<div class="data-container">
    {{if .Jobs}}
        <h2>Detalji posla</h2>
        <div class="job-container">
            <!-- Loop through multiple jobs -->
            {{range .Jobs}}
                <div class="job">
                    <div class="metadata">
                        <strong>Opis posla:</strong>
                        <p>{{.Description}}</p>

                        <strong>Broj posla:</strong>
                        <p>#{{.ID}}</p>

                        <strong>Vozač ID:</strong>
                        <p>{{.Driver_id}}</p>

                        <strong>Kamion ID:</strong>
                        <p>{{.Truck_id}}</p>

                        <strong>Planirani datum:</strong>
                        <p>{{.Scheduled_date}}</p>

                        <strong>Planirano vreme dolaska:</strong>
                        <p>{{.Scheduled_arrival_time}}</p>

                        <strong>Status:</strong>
                        <p>{{.Status}}</p>

                        <strong>Udaljenost (km):</strong>
                        <p>{{.Distance}}</p>

                        <strong>Veličina paketa (kg):</strong>
                        <p>{{.Package_size}}</p>

                        <strong>Težina paketa (kg):</strong>
                        <p>{{.Package_weight}}</p>

                        <strong>Ime klijenta:</strong>
                        <p>{{.Client_name}}</p>

                        <strong>Početna lokacija:</strong>
                        <p>{{.Start_location}}</p>

                        <strong>Destinacija:</strong>
                        <p>{{.Destination_location}}</p>

                        <p><a href='/poslovi/edit/{{.ID}}'>Promeni</a></p>
                    </div>
                </div>
            {{end}}
        </div>
    {{else if .Drivers}}
        <h2>Detalji o vozacu</h2>
        <div class="driver-container">
            <!-- Loop through multiple drivers -->
            {{range .Drivers}}
                <div class="driver">
                    <div class="metadata">
                        <strong>Ime:</strong>
                        <p>{{.Name}}</p>

                        <strong>Broj vozača:</strong>
                        <p>#{{.ID}}</p>

                        <strong>Broj licence:</strong>
                        <p>{{.License_number}}</p>

                        <strong>Telefon:</strong>
                        <p>{{.Phone_number}}</p>

                        <strong>Status:</strong>
                        <p>{{.Status}}</p>

                        <strong>Prosječna potrošnja (L/100km):</strong>
                        <p>{{.Average_consumption}}</p>

                        <strong>Km putovano:</strong>
                        <p>{{.Km_traveled}}</p>
                    </div>
                </div>
            {{end}}
        </div>
    {{else if .Trucks}}
        <h2>Detalji o kamionu</h2>
        <div class="truck-container">
            <!-- Loop through multiple trucks -->
            {{range .Trucks}}
                <div class="truck">
                    <div class="metadata">
                        <strong>Model:</strong>
                        <p>{{.Model}}</p>

                        <strong>Registracija:</strong>
                        <p>{{.License_plate}}</p>

                        <strong>Status:</strong>
                        <p>{{.Status}}</p>

                        <strong>Km putovano:</strong>
                        <p>{{.Km_traveled}}</p>

                        <strong>Prosječna potrošnja (L/100km):</strong>
                        <p>{{.Average_consumption}}</p>
                    </div>
                </div>
            {{end}}
        </div>
    {{else}}
        <p>No data available.</p>
    {{end}}
</div>

{{end}}
