{{define "nav"}}
<nav style="display: flex; justify-content: space-between; align-items: center; padding: 0 1rem;">
    <!-- Main Navigation Menu -->
    <div style="display: flex; gap: 1rem; align-items: center;"> 
        {{if .IsAuthenticated}} 
            <a href='/'>Jobs</a>
            <a href='/vozaci'>Drivers</a>
            <a href='/kamioni'>Trucks</a>
            <a href='/poslovi'>Job History</a>
            <a href='/poslovi/dodaj_posao'>Add new job</a>
            <form action='/korisnik/odjava' method='POST' style="margin: 0; display: inline-block;">
                <button style="cursor: pointer;">Logout</button>
            </form>
        {{else}}
            <a href='/korisnik/registracija'>Signup</a>
            <a href='/korisnik/prijava'>Login</a>
        {{end}}
    </div>
</nav>
{{end}}
